!!!
html
  head
    link(href='http://fonts.googleapis.com/css?family=Open+Sans:400,800,700' rel='stylesheet' type='text/css')
    title= "LOUD"
    link(rel='stylesheet', href='/main.css')
    script(src="http://cdn.socket.io/stable/socket.io.js"></script>
      //- <script type="text/javascript" src="../socket.io/socket.io.js")
    // script(src="../node_modules/lib/socket.io/socket.io.js")
    // HEROKU CONFIG
    // <script type="text/javascript" src="http://lit-dawn-6982.herokuapp.com/socket.io/socket.io.js"></script>
    script(src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js")
  body
    <a href="https://github.com/georgebonnr", class="ribbon", target=newwindow><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png" alt="Fork me on GitHub"></a>
    .container
      .header
        h1 LOUD
        h2(class="pointer") ?
      .chat
      .input
        input(id="name", type="text", placeholder="Enter your name", name="name", autocomplete="off")
        input(class="namesend", type="button", value="Submit")
        input(id="submit", type="text", placeholder="Something on your mind?", autocomplete="off")
        input(class="send", type="button", value="Send")
      .about
        p.
          LOUD is a simple "proof of concept" project I came up with to introduce myself to Node, Express, and Sockets.io before I start as a student
          at Hack Reactor next week.<br> <br>
          It's just a toy, but hopefully a fun one.<br><br>
          If you want to get all hoity-toity, you could also say it's a comment on the effect of mass media
          and social networking on the exchange of ideas.<br><br>
          If you'd like to continue this NICE, QUIET CONVERSATION elsewhere, feel free to fork this project or drop me a line at <a href="https://github.com/georgebonnr", class="link", target=newwindow>my Github</a>. Thanks!<br>
        span(class="tag") - George

    //- .controls
    //-   | Name: 
    //-   input#name(style='width:350px;')
    //-   input#namesend(type='button', value='name send')
    //-   br
    //-   input#field(style='width:350px;')
    //-   input#send(type='button', value='send')
    script(src='/chat.js')