!!!
html
  head
    link(href='http://fonts.googleapis.com/css?family=Open+Sans:400,800,700' rel='stylesheet' type='text/css')
    title= "LOUD"
    link(rel='stylesheet', href='/main.css')
    script(src='/socket.io/socket.io.js')
    script(src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js")
  body
    .container
      .header
        h1 LOUD
        h2(class="pointer") ?
      .chat
      .input
        input(id="name", type="text", placeholder="Enter your name", name="name", autocomplete="off")
        input(class="namesend", type="button", value="Submit")
        input(id="submit", type="text", placeholder="Something on your mind?", autocomplete="off")
        input(class="send", type="button", value="Send")
      .about
        p.
          LOUD is a simple "proof of concept" project to introduce myself to Node, Express, and Sockets.io before I start as a student
          at Hack Reactor next week.<br> <br>
          It's just a toy, but hopefully a fun one.<br><br>
          If you want to get all hoity-toity, you could also say it's a comment on the effect of mass media
          and social networking on the exchange of ideas.<br><br>
          If you'd like to HAVE A NICE, QUIET CONVERSATION about , please feel free to fork this project or drop me a line at my Github. Thanks!<br>
        span(class="tag") - George

    //- .controls
    //-   | Name: 
    //-   input#name(style='width:350px;')
    //-   input#namesend(type='button', value='name send')
    //-   br
    //-   input#field(style='width:350px;')
    //-   input#send(type='button', value='send')
    script(src='/chat.js')