!!!
html
  head
    link(href='http://fonts.googleapis.com/css?family=Open+Sans:400,800,700' rel='stylesheet' type='text/css')
    title= "LOUD"
    link(rel='stylesheet', href='/main.css')
    <script type="text/javascript" src="/socket.io/socket.io.js"></script>
    script(src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js")
  body
    <a href="https://github.com/georgebonnr", class="ribbon", target=newwindow><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png" alt="Fork me on GitHub"></a>
    .container
      .header
        h1 LOUD
        h2(class="pointer") ?
      .chat
      .input
        input(id="name", type="text", placeholder="Enter your name", name="name", autocomplete="off")
        input(class="namesend", type="button", value="Submit")
        input(id="submit", type="text", placeholder="Something on your mind?", autocomplete="off")
        input(class="send", type="button", value="Send")
      .about
        p.
          LOUD is a "proof of concept" app built with Node, Express, and Sockets.io. You can open a new tab to see how it handles multiple users.<br> <br>
          It's just a toy, but hopefully a fun one.<br><br>
          You could say it's also a comment on the amplifying effects of mass media and social networking in today's society, but that would be ridiculous.<br><br>
          Say hi using inside voices at <a href="https://github.com/georgebonnr", class="link", target=newwindow>my Github</a>. Thanks!<br>
        span(class="tag") - George
    script(src='/chat.js')
